@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext');
html {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
}
.header {
  background-color: #00010dc9;
  color: #8abac5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo {
  float: left;
  margin: 5px 10px 5px 0px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding-bottom: 15px;
}
#HomeEN,
#Indice,
#Portfolio,
#PortfolioES,
#Contact,
#Contacto {
  margin: auto;
  background-color: #e4f2fff6;
  color: #00010d;
}
h1 {
  color: #00010d;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
nav li {
  display: inline-block;
  margin-left: 45px;
  padding-top: 20px;
  list-style: none;
  position: relative;
}
a {
  color: #00a0c4;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
a:hover{
  
  color: #006b83;
  text-decoration: underline;
}
nav a {
  color: #8abac5;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all ease-in-out 350ms;
}
nav a:hover {
  color: #3bb3ce;
  text-decoration: none;
  font-weight: 900;
}
nav a::before {
  content: '';
  display: block;
  height: 7px;
  width: 0%;
  background-color: #3bb3ce;
  position: absolute;
  top: 0;
  transition: all ease-in-out 350ms;
}
nav a:hover::before {
  width: 100%;
}


.a1 {
  display: flex;
  flex-direction: row;
}
.a1 p,
.a2 p,
.contact p,
#Portfolio,
#PortfolioES,
#Contact,
#Contacto {
  text-align: justify;
  line-height: 1.4;
  font-size: 16px;
  padding-right: 30px;
  padding-left: 30px;
}
.a1 img {
  display: block;
  margin: auto;
}
.Portfolio {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
}
.tituloPortfolio {
  font-weight: bold;
  font-size: 20px;
}
.portfoliosec{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.programing img, {
display: block;
margin:auto;
width: 92%;
}
#Contact img, #Contacto img{
display: block;
margin:auto;
width: 25%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  list-style-type: none;
}

#footcontainerEN,
#footcontainerES {
  background-color: #00010de3;
  color: #8abac5;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 5px;
}
.divfooter {
  font-size: 15px;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin: 0 auto;
  align-items: center;
  min-width: 130px;
}
.titulofooter {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}
.github a {
  color: #8abac5;
  text-decoration: none;
  font-size: 15px;
}
.github a:hover {
  color: #3bb3ce;
  text-decoration: underline;
}
.Copy {
  background-color: #00010de3;
  color: #8abac5;
  text-align: center;
  padding-bottom: 5px;
}

.hide {
  display: none !important;
}
@media (max-width: 1280px) {
  .logo img {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 550px;
  } 
  .Portfolio {
    flex-direction: column;
  }
  .portfoliosec{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .a1 {
    flex-direction: column;
  }
  .a1 img  {
    width: 25%;
    height: 25%;
  }
  #Contact img,#Contacto img{
    width: 50%;
    height: 50%;
  }
  .divfooter {
    text-align: center;
  }
}
@media (max-width: 600px) {
  h1{
    font-size: 25px;
  }
  .logo img {
    width: 380px;
  }
  nav li {
    margin-left: 25px;
    padding-top: 10px;
    list-style: none;
    position: relative;
  }
  .Portfolio {
    flex-direction: column;
  }
  .WordProcessor {
    width: 250px;
    height: 300px;
  }
  .divfooter {
    font-size: 11px;
  }
  .titulofooter {
    font-size: 18px;
  }
  a {
    font-size: 13px;
  }
  .portfoliosec a {
    font-size: 16px;
  }
  .tituloPortfolio {
    font-size: 20px;
  }
  .github a {
    font-size: 13px;
  }
  .a1 p,
  .a2 p,
  #Portfolio,
  #PortfolioES,
  #Contacto,
  #Contact {
    font-size: 13px;
  }
  nav a {
    font-size: 15px;
  }
  nav img {
    width: 23px;
    height: 15px;
  }nav a::before {
    height: 4px;}
  #footcontainerEN,
  #footcontainerES {
    flex-direction: column;
    flex-wrap: wrap;
  }
}